<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<script type="text/javascript" th:fragment="autocompletado-productos-js">
		$(document).ready(function() {
			$("#buscar_producto").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "/factura/cargar-productos/" + request.term,
                        type: "GET",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function(data) {
                            response($.map(data, function(item) {
								return {
									value: item.id,
									label: item.nombre,
									precio: item.precio
								}
							}));
                        }
                    });
                },
                minLength: 2,
                select: function(event, ui) {
                    if (itemsHelper.existeProducto(ui.item.value)) {
						itemsHelper.incrementarCantidad(ui.item.value, ui.item.precio);
						return false;
					} 
					
					let linea = $("#plantilla-items-factura").html();
					linea = linea.replace(/{ID}/g, ui.item.value);
					linea = linea.replace(/{NOMBRE}/g, ui.item.label);
					linea = linea.replace(/{PRECIO}/g, ui.item.precio);
					
					$("#cargar-item-productos tbody").append(linea);
					itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1);
					
					return false;
                }
            });
		});
		
		let itemsHelper = {
			calcularImporte: function(id, precio, cantidad) {
                $("#total-importe-" + id).html('$ ' + parseInt(precio) * parseInt(cantidad));
				this.calcularTotalFactura();
            },
			existeProducto: function(id) {
				return $('input[name="id_item[]"][value="' + id + '"]').length > 0;
			},
			incrementarCantidad: function(id, precio) {
            	let cantidad = $("#cantidad_" + id).val() 
									? parseInt($("#cantidad_" + id).val()) + 1
									: 0;
									
				$("#cantidad_" + id).val(cantidad);
				this.calcularImporte(id, precio, cantidad);
            },
			eliminarProducto: function(id) {
                $("#row_" + id).remove();
				this.calcularTotalFactura();
            },
			calcularTotalFactura: function() {
				var total = 0;
				$('span[id^="total-importe-"]').each(function() {
                    let importe = $(this).html().replace('$', '').trim();
                    total += parseFloat(importe);
                });
				
				$("#total-pagar").html('$ ' + total);
			}
		}
	</script>
</body>
</html>