<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table th:fragment="items-factura" class="d-none">
		<tbody id="plantilla-items-factura">
			<tr id="row_{ID}">
				<td class="d-none">
					<input type="hidden" value="{ID}" name="id_item[]" />
				</td>
				<td class="align-middle">{NOMBRE}</td>
				<td class="align-middle">$ {PRECIO}</td>
				<td class="align-middle">
					<input type="number" value="1" name="cantidad[]" id="cantidad_{ID}" class="form-control col-sm-2" onchange="itemsHelper.calcularImporte({ID}, {PRECIO}, this.value);" />
				</td>
				<td class="align-middle">
					<span id="total-importe-{ID}">0</span>
				</td>
				<td class="align-middle">
					<a href="#" class="btn btn-danger" onclick="itemsHelper.eliminarProducto({ID});" th:text="#{Text.crud.eliminar}">Eliminar</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>