<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/layout :: head}"></head>
<body>
	<section th:insert="~{layout/layout :: navbar}"></section>
	<section th:insert="~{layout/layout :: header}"></section>
	
	<main class="container mt-3">
		<form id="form-cliente" th:action="@{/guardar}" th:object="${cliente}" method="POST">
			<section class="mb-3">
				<label for="nombre" class="form-label">Nombre:</label>
				<input th:field="*{nombre}" class="form-control"  />
				<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
			</section>
			<section class="mb-3">
				<label for="apellido" class="form-label">Apellido:</label>
				<input th:field="*{apellido}" class="form-control"  />
				<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="text-danger"></span>
			</section>
			<section class="mb-3">
				<label for="email" class="form-label">Email:</label>
				<input type="email" th:field="*{email}" class="form-control"  />
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
			</section>
			<input type="submit" value="Agregar" class="btn btn-primary" />
		</form>
	</main>
	
	<section th:insert="~{layout/layout :: footer}"></section>
	<section th:insert="~{layout/layout :: scripts}"></section>
</body>
</html>