<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar cliente</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
		  rel="stylesheet" 
		  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
		  crossorigin="anonymous">
</head>
<body>
	<header class="text-bg-dark">
		<section class="container">
			<h1 class="text-start py-3">Agregar nuevo cliente</h1>
		</section>
	</header>
	
	<main class="container mt-3">
		<form id="form-cliente" th:action="@{/guardar}" th:object="${cliente}" method="POST">
			<section class="mb-3">
				<label for="nombre" class="form-label">Nombre:</label>
				<input th:field="*{nombre}" class="form-control" required maxlength="45" />
				<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
			</section>
			<section class="mb-3">
				<label for="apellido" class="form-label">Apellido:</label>
				<input th:field="*{apellido}" class="form-control" required maxlength="45" />
				<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="text-danger"></span>
			</section>
			<section class="mb-3">
				<label for="email" class="form-label">Email:</label>
				<input type="email" th:field="*{email}" class="form-control" required maxlength="45" />
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
			</section>
			<input type="submit" value="Agregar" class="btn btn-primary" />
		</form>
	</main>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
			integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
			crossorigin="anonymous">
	</script>
</body>
</html>