<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{layout/layout :: head}"></head>
<body>
    <section th:insert="~{layout/layout :: navbar}"></section>
	<section th:insert="~{layout/layout :: header}"></section>
	<section th:insert="~{layout/layout :: errores}"></section>
	
	<main class="container my-3">
		<section class="d-flex flex-column gap-3">
			<section sec:authorize="hasRole('ROLE_ADMIN')" class="d-flex justify-content-end align-items-center">
				<a th:href="@{/crear}" class="btn btn-primary">+ Agregar cliente</a>
			</section>
			
			<section class="table-responsive">
				<table class="table table-hover table-striped table-bordered w-100">
					<thead class="table-dark">
						<tr class="text-center">
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Email</th>
							<th>Fecha de creación</th>
							<th sec:authorize="hasRole('ROLE_USER')" colspan="3">Acciones</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Facturas</th>
						</tr>
					</thead>
					<tbody class="text-center align-middle">
						<tr th:each="cliente: ${clientes.content}">
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${#temporals.format(cliente.fechaCreacion, 'dd/MM/yyyy HH:mm')}"></td>
							<td sec:authorize="hasRole('ROLE_USER')">
								<a th:href="@{/detalle/} + ${cliente.id}" class="btn btn-primary">Ver detalle</a>
							</td>
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<a th:href="@{/editar/} + ${cliente.id}" class="btn btn-warning">Editar cliente</a>
							</td>
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<a th:href="@{/eliminar/} + ${cliente.id}" class="btn btn-danger" onclick="return confirm('Está seguro de que desea eliminar?')">Eliminar cliente</a>
							</td>
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<a th:href="@{/factura/crear/} + ${cliente.id}" class="btn btn-success">Crear factura</a>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			
			<section th:replace="~{layout/paginator :: paginator(page=${clientes}, url='/listar')}"></section>
		</section>
	</main>
	
	<section th:insert="~{layout/layout :: footer}"></section>
	<section th:insert="~{layout/layout :: scripts}"></section>
</body>
</html>